@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

:root {
  --primary-color: #5e4ae3;
  --primary-color-dark: #000000;
  --primary-bg-color: #eaedf2;
  --sub-bg-color: #dddedc;
  --primary-text-color: #050505;
  --sub-item-color: #9f9f9f;
  --color-button: #3c337d;
  --color-button2: #604CDF;
  --color-alert-button: #e82d79;
  --alert-color: #f6c81a;
  --status-online-color: #07d769;
  --sec1-menutext-color: #3a3a3a;
  --border-raidius: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  width: 80%;
  /* border: 0.1rem solid black; */
  margin: 0 auto;
  /* margin 0 auto centraliza o item a pagina */
}

.container #header {
  width: 100%;
  height: 7rem;
  /* background: #DAA520; */
  /* border: .1rem solid #DAA520; */
  display: flex;
  /* justify-content: space-between; */
}

.container #header .header-l {
  /* border: .2rem solid #5e4ae3; */
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.container #header .header-l .menu-logo-header {
  /* border: .1rem solid tomato; */
  width: 8.2rem;
  height: 100%;
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--sub-bg-color);
}

.container #header .header-l .menu-logo-header .img-logo-header {
  width: 4.5rem;
  height: 4.5rem;
  margin-left: .9rem;
  margin-bottom: .3rem;

}

.container #header .header-l .menu-logo-header .submenu-header {
  /* border: .1rem solid blue; */
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 6.3rem;
  background: #fff;
  box-shadow: .1rem .1rem .5rem var(--sub-item-color);
}

.container #header .header-l .bx-search {
  margin-left: 5.5rem;
  margin-right: .8rem;
  color: var(--sub-item-color);
}

.container #header .header-l input {
  color: var(--sub-item-color);
  border: none;
  outline: none;
  width: 70%;
  font-size: 1.6rem;
}

.container #header .header-r {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 3.2rem;
  gap: 1.5rem;
}

.container #header .header-r .language-option {
  display: flex;
  align-items: center;
}

.container #header .header-r .language-option p {
  font-size: 1.6rem;
}

.container #header .header-r .language-option i {
  display: flex;
  align-items: center;
}

.container #header .header-r .bell-icon-header {
  display: flex;
  align-items: start;
  justify-content: end;  
  position: relative;
}

.container #header .header-r .bell-icon-header .bell-alert {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #fff;
  background: var(--alert-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.container #header .header-r .user-header {
  /* border: .1rem solid blue; */
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;  
  justify-content: center;
  overflow: hidden;
  margin-right: 3rem;
}

.container #header .header-r .user-header .user-header-img {
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.container #nav {
  /* border: 0.2rem solid #F5DEB3; */
  background: var(--primary-bg-color);
  width: 100%;
  height: 6rem;
  display: flex;
}

.container #nav .nav-l {
  /* border: .1rem solid #5e4ae3; */
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.container #nav .nav-l .back-interaction {
  display: flex;
  position: relative;
  margin-right: 3rem;
}

.container #nav .nav-l .back-interaction p {
  display: flex;
  align-items: center;
  position: absolute;
  left: 2rem;
  top: .4rem;
  font-size: 1.4rem;
}

.container #nav .nav-l .back-interaction i {
  display: flex;
  align-items: center;
  font-size: 2.8rem;
}

.container #nav .nav-l .menu-nav-l {
  display: flex;
  align-items: center;
  margin-left: 4.7rem;
}

.container #nav .nav-l .menu-nav-l .home-interaction {
  color: var(--sub-item-color);
}

.container #nav .nav-l .menu-nav-l .apps-interaction {
  color: var(--sub-item-color);
}

.container #nav .nav-r {
  /* border: .1rem solid #5e4ae3; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.6rem;
  color: #fff;
  gap: 2rem;
}
.container #nav .nav-r p {
  margin-top: .5rem;
  margin-left: .5rem;
  font-size: 80%;
}

.container #nav .nav-r i {
  font-size: 2.5rem;
}
.container #nav .nav-r .import-interaction {
  /* border: .1rem solid tomato; */
  width: 10rem;
  height: 60%;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-button);
}

.container #nav .nav-r .export-interaction {
  /* border: .1rem solid tomato; */
  width: 10rem;
  height: 60%;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-alert-button);
}

.container #nav .nav-r .category-options {
  /* border: .1rem solid tomato; */
  width: 12rem;
  height: 60%;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--sub-bg-color);
  color: var(--primary-text-color);
  margin-right: 2.5rem;
}

.container #nav .nav-r .category-options i {
  margin-right: 1rem;
}

.container #nav .nav-r .category-options p {
  margin-left: 1rem;
  margin-bottom: .3rem;
}

.container .content {
  /* border: 0.1rem solid tomato; */
  width: 100%;
  height: calc(100vh - 12.1rem);
  display: flex;
  background: var(--primary-bg-color);
}

.container .content #aside {
  width: 10rem;
  height: 100%;
  /* border: 0.2rem solid rgb(128, 0, 128); */
  display: flex;
  flex-direction: column;
  /* background: rgb(128, 0, 128); */
}

.container .content #aside .interactive-menu {
  /* border: .1rem solid rgb(140, 0, 255); */
  width: 100%;
  height: 71.5%;
  border-top-right-radius: 3.7rem;
  border-bottom-right-radius: 3.7rem;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.2rem;
  gap: 3.5rem;
}

.container .content #aside .interactive-menu .bx-home-alt-2 {
  margin-top: 3rem;
}

.container .content #aside .interactive-menu .bx-message-rounded {
  position: relative;
}

.container .content #aside .interactive-menu .bx-message-rounded .message-alert {
  /* border: .1rem solid black; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  left: 1.7rem;
  background: var(--alert-color);
}

.container .content #aside .userprofile-aside {
  /* border:.1rem solid #000000; */
  width: 100%;
  height: 29.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 1.5rem;
}

.container .content #aside .userprofile-aside p {
  margin-top: .4rem;
}

.container .content #aside .userprofile-aside .user-aside {
  /* border: .1rem solid black; */
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: end;  
  justify-content: right;

}

.container .content #aside .userprofile-aside .user-aside-img {
  /* border: .1rem solid black; */
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;  
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.container .content #aside .userprofile-aside .user-status-aside {
  border: .1rem solid #fff;
  width: 1rem;
  height: 1rem;
  background: var(--status-online-color);
  box-shadow: .1rem .1rem .3rem var(--sub-item-color);
  border-radius: 50%;
  display: flex;
  position: absolute;
}

.container .content #sec1 {
  width: 48rem;
  height: 100%;
  /* border: 0.1rem solid rgb(255, 36, 36); */
  /* background: rgb(255, 36, 36); */
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.container .content #sec1 .menu-nav-interaction-name {
  font-size: 2rem;
  margin-bottom: 1rem;
  
}

.container .content #sec1 .menu-sec1 {
  /* border: .1rem solid black; */
  /* width: 8rem; */
  height: 61rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: .1rem .1rem .5rem var(--sub-item-color);
}

.container .content #sec1 .menu-sec1 .menu-access {
  /* border: .1rem solid rgb(255, 0, 0); */
  height: 68%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}

.container .content #sec1 .menu-sec1 .menu-access .menu-item-sec1 {
  /* border: .1rem solid blue; */
  height: 10rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.container .content #sec1 .menu-sec1 .menu-access .menu-item-sec1 i {
  margin-left: 1rem;
  margin-right: .8rem;
  font-size: 2.6rem;
}

.container .content #sec1 .menu-sec1 .menu-access .menu-item-sec1 a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--sec1-menutext-color);
}

.container .content #sec1 .menu-sec1 .menu-access .menu-item-sec1 a:hover {
  background: #f2f0fe;
  height: 100%;
  width: 100%;
  color: var(--primary-color);
}

.container .content #sec1 .menu-sec1 .menu-access .alerts-sec1 {
  /* border: .1rem solid green; */
  background: var(--color-alert-button);
  height: 90%;
  width: 3.6rem;
  border-radius: 50%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content #sec1 .menu-sec1 .menu-access .alerts-sec1 p {
  font-size: 1.6rem;
  display: flex;
  color: #fff;
}

.container .content #sec1 .menu-sec1 .interaction-menu-sec1 {
  /* border: .1rem solid tomato; */
  height: 7rem;
  display: flex;
  flex-direction: column;
}

.container .content #sec1 .menu-sec1 .interaction-menu-sec1 .interaction-menu-sec1-config {
  /* border: .1rem solid purple; */
  height: 4rem;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

.container .content #sec1 .menu-sec1 .interaction-menu-sec1 .interaction-menu-sec1-config div {
  /* border: .1rem solid blue; */
  width: 12.5rem;
  height: 4rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-button2);
  color: #fff;
  font-size: 1.4rem;
}

.container .content #sec1 .menu-sec1 .interaction-menu-sec1 .separator {
  /* border: .1rem solid green; */
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content #sec1 .menu-sec1 .storage {
  display: flex;
  /* margin-top: 0.5rem; */

}

.container .content #sec1 .menu-sec1 .storage>div {
  /* border: .1rem solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: end;
  width: 100%;
  margin-right: 2rem;

}

.container .content #sec1 .menu-sec1 .storage a {
  font-size: 1.3rem;
}

.container .content #sec1 .menu-sec1 .storage img {
  width: 13rem;
  margin-left: 1rem;
}

.container .content #sec1 .menu-sec1 .info span {
  font-size: 1.3rem;
  color: var(--shadow-color);
  margin-bottom: 2rem;
}

.container .content #sec1 .menu-sec1 .storage button {
  color: var(--sec1-menutext-color);
  width: 12rem;
  height: 3rem;
}

.container .content #sec1 .menu-sec1 .storage i {
  margin-right: .5rem;
}

.container .content #sec1 .menu-sec1 .info {
  /* border: .1rem solid blue; */
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.container .content #sec1 .menu-yourplan-sec1 {
  border: .1rem solid black;
  height: 20rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background: var(--color-button);
  box-shadow: .1rem .1rem .5rem var(--sub-item-color);
}

.container .content #sec1 .menu-yourplan-sec1>div {
  margin: 2rem;
  /* border: .1rem solid yellow; */
  width: 30rem;
  height: 15rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container .content #sec1 .menu-yourplan-sec1 h3 {
  margin-top: .8rem;
  margin-bottom: 8rem;
}

.container .content #sec1 .menu-yourplan-sec1 a {
  font-size: 1.4rem;
  color: #ffae00f3;
}

.container .content #sec1 .menu-yourplan-sec1 .selector-up-down {
  /* border: .1rem solid green; */
  position: absolute;
  font-size: 2.8rem;
  margin-left: 27rem;
  display: flex;
  flex-direction: column;
}

.container .content #sec1 .menu-yourplan-sec1 .selector-up-down .bx-chevron-down {
  position: absolute;
  top: 1.5rem;
}






































#main {
  width: calc(100vw - 40.5rem);
  height: 100%;
  /* border: 0.2rem solid rgb(255, 232, 23); */
  /* background:  rgb(255, 232, 23); */
}













